build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
fabric/tests/
neoforge/tests/
forge/tests/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

# other
**/*.png
**/*.log
**/.cache/
logs/

.architectury-transformer/

changelog.md